.btn-1 {
    display: inline-block;
    position: relative;
    left: -13px;
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
    width:100%;
}

.btn-1 span {
    display: block;
    padding-left: 5px;
}

.btn-1::before,
.btn-1::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: blue;
}

.btn-1 span::before,
.btn-1 span::after {
    content: "";
    width: 2px;
    height: 0;
    position: absolute;
    transition: all 0.2s linear;
    background: blue;
}

.btn-1:hover::before,
.btn-1:hover::after {
    width: 100%;
}

.btn-1:hover span::before,
.btn-1:hover span::after {
    height: 100%;
}

/*----- btn-1 1 -----*/
.btn-1::before,
.btn-1::after {
    transition-delay: 0.2s;
}

.btn-1 span::before,
.btn-1 span::after {
    transition-delay: 0s;
}

.btn-1::before {
    right: 0;
    top: 0;
}

.btn-1::after {
    left: 0;
    bottom: 0;
}

.btn-1 span::before {
    left: 0;
    top: 0;
}

.btn-1 span::after {
    right: 0;
    bottom: 0;
}

.btn-1:hover::before,
.btn-1:hover::after {
    transition-delay: 0s;
}

.btn-1:hover span::before,
.btn-1:hover span::after {
    transition-delay: 0.2s;
}