
.bg-image {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/bg.png) !important;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.card-login {
    border-radius: 6%;
    background: rgba(236, 240, 243, 0.5);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.form_bg {
    height: 100vh;
    display: flex;
    align-items: center;
}

.form_icon {
    -webkit-filter: drop-shadow(0px -7px 5px white);
    font-size: 100px;
    line-height: 85px;
}


.white {
    color: rgb(211, 210, 210);
}

.in, .in:focus {
    font-size: 22px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    width: 100%;
    padding: 18px 40px 12px 48px;
    margin: 8px 0;
    border-radius: 50px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
    border: transparent;
}

button {
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    font-size: 3.2vh;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

button:active {
    background: #1da88a;
}
button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.fontuser {
    position: relative;
}

.fontuser i {
    position: absolute;
    left: 20px;
    top: 53px;
    color: grey;
}

.fontpassword {
    position: relative;
}

.fontpassword i {
    position: absolute;
    left: 20px;
    top: 46px;
    color: gray;
}

.link {
    font-weight: bolder;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}