

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    display:flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background: url("../img/bg.png") no-repeat center center / cover !important;
    height: 100%;
}
.login-div{
    margin-top: 15px;
    padding: 10px 35px 35px 35px;
    border-radius: 40px;
    background: rgba(236, 240, 243, 0.5);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    width: 33%;
    height: 100%;
}
.form-title {
    font-weight: bold;
    font-size: 25px;
    color: #24cfaa;
}
.logo{
    background: url("../img/icon.png") no-repeat center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}
.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
}
.sub-title{
    color: red;
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
}
.fields{
    width: 100%;
    padding: 75px 5px 5px 5px;
}
input{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}
.username, .password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;

}
.fields svg{
    height: 22px;
    margin: 0 10px -3px 25px;
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}
.signin-button:hover{
    background: #2fdbb6;
}
.signin-button:active{
    background: #1da88a;
}
.link{
    padding-top: 20px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}
.wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 60px;
}