body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #555;
    background: url("../img/bg.png") no-repeat center center / cover !important;
}

.login-div {
    height: 93%;
    margin-top: 3%;
    border-radius: 6%;
    background: rgba(236, 240, 243, 0.5);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
.login-form {
    margin-top: 2vh;
}
.logo {
    width: 15vh;
    height: 15vh;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-size: 5vh;
    margin: 0 auto;
    padding-top: 3.5vh;
    letter-spacing: 0.5px;
}

.sub-title {
    color: red;
    text-align: center;
    font-size: 3vh;
    letter-spacing: 3px;
}
.signin-button:hover {
    background: #2fdbb6;
}

.signin-button:active {
    background: #1da88a;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    height: 9.7vh;
    border-radius: 30px;
    font-size: 3.2vh;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 3.2vh 1.6vh 3.2vh 0;
}

.username,
.password {
    margin-bottom: 4.8vh;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

svg {
    height: 4.8vh;
    margin: 0 1.6vh -3px 4vh;
}

.link {
    padding-top: 4vh;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
}